<h3><%- NV.MaNV %></h3>
<h3><%- NV.TenNV %></h3>
<h3><%- NV.NgaySinhNV %></h3>
<h3><%- NV.SoCCCDNV %></h3>
<h3><%- NV.EmailNV %></h3>
<h3><%- NV.SDTNV %></h3>
<h3><%- NV.DiachiNV %></h3>
<h3><%- NV.GioiTinh %></h3>
<h3><%- NV.Chucvu %></h3>
<h3><%- NV.CONGVIEC %></h3>