<h3><%- Cambien.MaCB %></h3>
<h3><%- Cambien.TenCB %></h3>
<h3><%- Cambien.XuatxuCB %></h3>
<h3><%- Cambien.DongiaCB %></h3>
<h3><%- Cambien.LoaiCB %></h3>
<h3><%- Cambien.HSD %></h3>
<h3><%- Cambien.MaHD %></h3>