<h3><%- HD.MaHD %></h3>
<h3><%- HD.NgaplapHD %></h3>
<h3><%- HD.SLCBPdon %></h3>
<h3><%- HD.GHICHU %></h3>
<h3><%- HD.CPVC %></h3>
<h3><%- HD.THUE %></h3>
<h3><%- HD.MaNCC %></h3>
<h3><%- HD.MaNV %></h3>